//-en realidad pug es hacer html mas facil de programar, PERO SIEMPRE HAY QUE CONVERTIR A HTML CON GULP
html(lang="en") 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Documento Web Demo
    body
        h1 titulo con h1
        p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia omnis voluptate iusto earum harum sint. Doloribus natus, dolore molestias mollitia nostrum quibusdam vel, unde alias, doloremque magnam praesentium debitis exercitationem.
        p.text Segundo Parrafo
        h2 subtitulo h2

        ul: li: p Lorem1
                p Lorem2
                p Lorem3
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, nemo dignissimos, voluptatibus et explicabo non voluptate quia ipsam ipsum, repellendus fugit porro itaque? Porro totam saepe rem quod autem non.

